<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Ved Panse</title>
</head>

<style>
    div.none {
        visibility: none !important;
    }
    
    .topnav {
        overflow: hidden;
        background-color: white;
        border-bottom: 1px solid rgb(210, 210, 215);
        min-width: 25%;
        max-width: 100%;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #9a9a9c !important;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 15px;
        border-bottom: 3px solid transparent;
    }
    
    .topnav a:hover {
        color: #646468;
    }
    
    .topnav a.active {
        border-bottom: 3px solid black;
        color: black !important;
    }
    
    .topnav a:hover {
        cursor: pointer;
    }
    
    #images img {
        height: auto;
        width: 100% !important;
    }
    
    #images a {
        margin-bottom: 10%;
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Ved Panse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../../index.html#news">Home</a>
                    <a class="nav-link" href="../../index.html#about">About Me</a>
                    <a class="nav-link" href="../../index.html#projects">Projects</a>
                    <a class="nav-link" href="../../index.html#blogs">Blogs</a>
                    <a class="nav-link" href="index.html">Videos</a>
                    <a class="nav-link" href="../../index.html#contact">Contact</a>
                </div>
                <div style="position: absolute; right: 0%;" class="accessories">
                    <a class="nav-link search" href="#" id="search">Search &nbsp;<i class="fa fa-search"></i></a>
                </div>

            </div>
        </div>
    </nav>
    <div class="translucent" class="none" style="display: none;">
        <input id="search-query" placeholder="Search...">
    </div>
    <section id="news">
        <div class="topnav">
            <a class="active" onclick="images()" id="nav-html">Images</a>
            <!-- <a onclick="python()" id="nav-python">Deserts</a> -->
        </div>
        <br><br>
        <div id="images">
            <img src="../../images/contact.jpeg"><br><br>
            <a href="https://unsplash.com/photos/aOC7TSLb1o8" target="_blank">https://unsplash.com/photos/aOC7TSLb1o8 <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/home.png"><br><br>
            <a href="https://www.teahub.io/down/xhxwhh_free-binary-high-quality-background-id-purple-desktop/" target="_blank">https://www.teahub.io/down/xhxwhh_free-binary-high-quality-background-id-purple-desktop/ <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/Blog.jpeg"><br><br>
            <a href="https://unsplash.com/photos/jLwVAUtLOAQ" target="_blank">https://unsplash.com/photos/jLwVAUtLOAQ <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/project.jpeg"><br><br>
            <a href="https://unsplash.com/photos/5UtZ19wqNpI" target="_blank">https://unsplash.com/photos/5UtZ19wqNpI <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/in-school.jpg"><br><br>
            <a href="https://woodridgehigh.com/static/media/9.b787960b.jpg" target="_blank">https://woodridgehigh.com/static/media/9.b787960b.jpg <i class="fa fa-chevron-right"></i></a><br><br>

            <hr>

            <img src="../../images/mime1.jpg"><br><br>
            <a href="https://woodridgehigh.com/static/media/1.5ed4f0f3.jpg" target="_blank">https://woodridgehigh.com/static/media/1.5ed4f0f3.jpg <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/mime2.jpg"><br><br>
            <a href="https://woodridgehigh.com/static/media/11.16648695.jpg" target="_blank">https://woodridgehigh.com/static/media/11.16648695.jpg <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/mime3.jpg"><br><br>
            <a href="https://woodridgehigh.com/static/media/2.2070859d.jpg" target="_blank">https://woodridgehigh.com/static/media/2.2070859d.jpg <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/mime4.jpg"><br><br>
            <a href="https://woodridgehigh.com/static/media/9.21918e87.jpg" target="_blank">https://woodridgehigh.com/static/media/9.21918e87.jpg <i class="fa fa-chevron-right"></i></a><br><br>
            <hr>
            <img src="../../images/hurdles.jpeg"><br><br>
            <a href="https://woodridgehigh.com/static/media/14.d3edb9c7.jpg" target="_blank">https://woodridgehigh.com/static/media/14.d3edb9c7.jpg <i class="fa fa-chevron-right"></i></a><br><br>
        </div>
        <section id="footer">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <b><p>Initiatives</p></b><br>
                    <a href="../social/index.html">Leo Club <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <b><p>Initiatives</p></b><br>
                    <a href="../credits/index.html">Images <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <b><p>Social</p></b><br>
                    <a href="https://codepen.io/vedpanse" target="_blank">CodePen <i class="fa fa-chevron-right"></i></a>
                    <a href="https://github.com/vedpanse" target="_blank">GitHub <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
    </section><br><br>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>