html,
body {
    font-family: 'IBM Plex Sans', ibm-plex-sans, 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: 2;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 2px 1px;
    display: none;
    position: relative;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
}

.header a:hover {
    border: none;
    color: #0063cc;
}

.header a.logo {
    font-size: 20px;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

p {
    font-size: 15px;
}

.sec li {
    font-size: 14px;
}

.form-control {
    border-radius: 0%;
    border: none;
}

.bg-white {
    background-color: white;
    border: transparent;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: transparent;
    border-radius: 0%;
}

.navbar-brand,
.nav-link {
    color: black;
    padding-right: 20px;
}

.navbar {
    padding: 0%;
}

.nav-item {
    padding-right: 10px;
}

.right-form {
    position: absolute;
    right: 8%;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.btn {
    border-radius: 0%;
    text-align: left;
}

.search {
    background-color: transparent;
    border: none;
}

.hamburger-menu {
    width: 35px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}

.right-most-form {
    position: absolute;
    right: 2%;
}

#connect {
    background-image: url(../images/connect.png);
    max-width: 100%;
    min-height: 80%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#connect h1 {
    font-weight: 300;
}

#connect p {
    font-size: 20px;
}

.bts {
    width: 50%;
    max-width: 300px;
    font-weight: 350;
    position: relative;
    margin-bottom: 20px;
}

.search:hover {
    background-color: transparent;
}

#news {
    background-color: rgb(236, 237, 238);
    padding: 2%;
}

.btn-primary {
    background-color: #0062ff;
    border: transparent;
}

#solutions {
    padding: 2%;
    min-height: 95%;
}

.card-text {
    font-size: 15px;
}

#solutions .col-md-6 {
    height: 100%;
}

#solutions .card {
    height: 100%;
    min-width: 100%;
    min-height: 400px;
    border: none;
    background-color: #f2f4f8;
    position: relative;
    height: 100px;
}

#solutions .card:hover {
    cursor: pointer;
}

#footer {
    width: 100%;
    background-color: rgb(250, 250, 250);
    padding: 2%;
}

#footer .row {
    width: 90%;
    margin: auto;
}

#footer a {
    display: block;
    color: black;
    line-height: 2.5;
}

#footer a:hover {
    text-decoration: underline;
    color: #0063cc;
    border: none;
    text-underline-position: under;
}

#footer .border-top {
    border-top: 1px solid black;
    width: 90%;
    margin: auto;
    line-height: normal;
}

#footer .border-top a {
    display: inline;
    padding-right: 5%;
}


/* COMPANY */

#company-band {
    background-image: url(../images/company-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#company-band h1 {
    font-weight: 300;
}

#company-band p {
    font-size: 20px;
}

#information {
    width: 95%;
    margin: auto;
    margin-top: 5%;
}

.overlay {
    padding-top: 5%;
    padding-left: 2%;
    width: 50%;
}

#experience {
    background-image: url(../images/experience.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
}

#experience .btn-lg,
#join .btn-lg {
    width: 300px;
    height: 125px;
    position: absolute;
    bottom: 0%;
}

#experience .btn-lg {
    right: 2%;
}

#join .btn-lg {
    right: 4%;
}

@media screen and (max-width: 600px) {
    .card {
        margin-top: 5%;
    }
    #solutions .row {
        width: 95%;
        margin: auto;
    }
    #connect .overlay {
        width: 100%;
    }
    #experience .btn-lg,
    #join .btn-lg {
        width: 30%;
        height: 30%;
        right: 5%;
    }
}

@media screen and (max-width: 800px) {
    #footer {
        margin-top: 15%;
    }
}


/* PRODUCTS */

#product-band {
    background-image: url(../images/product-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#product-band h1 {
    font-weight: 300;
}

#product-band p {
    font-size: 20px;
}

#product-band .overlay {
    background-color: rgb(0, 0, 0, 0.3);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.fa-user:hover,
.fa-bars:hover {
    cursor: pointer;
}


/* INVESTOR RELATIONS */

#investor-band {
    background-image: url(../images/investor-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#investor-band h1 {
    font-weight: 300;
}

#investor-band p {
    font-size: 20px;
}

.dark-layer {
    width: 100%;
    min-height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
}

a {
    color: #0063cc;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: none;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid #0063cc;
}


/* SUPPORT */

#support-band {
    background-image: url(../images/support-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#support-band h1 {
    font-weight: 300;
}

#support-band p {
    font-size: 20px;
}


/* CONTACT */

#contact-band {
    background-image: url(../images/contact-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#contact-band h1 {
    font-weight: 300;
}

#contact-band p {
    font-size: 20px;
}

#solutions a svg {
    color: #0063cc;
}

a svg:hover {
    border: none;
}

.rightArrow {
    position: absolute;
    top: 30%;
    right: 10%;
}


/* treasuryAgent */

#treasury-band {
    background-image: url(../images/treasury-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#treasury-band h1 {
    font-weight: 300;
}

#treasury-band p {
    font-size: 20px;
}

#solutions a svg {
    position: absolute;
    bottom: 5%;
    left: 7%;
}

.navbar-brand:hover {
    border: none;
}


/* NEWS */

#news-band {
    background-image: url(../images/news-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#news-band h1 {
    font-weight: 300;
}

#news-band p {
    font-size: 20px;
}

.date {
    color: gray;
}

.blue {
    color: #0063cc;
}


/* EXP */

#exp-band {
    background-image: url(../images/exp-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#exp-band h1 {
    font-weight: 300;
}

#exp-band p {
    font-size: 20px;
}

.showcase-logos img {
    width: 80%;
    height: auto;
}

.showcase-logos {
    margin-top: 20px;
}

#join {
    background-image: url(../images/join.jpeg);
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* LEGAL */

#legal-band {
    background-image: url(../images/legal-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#legal-band h1 {
    font-weight: 300;
}

#legal-band p {
    font-size: 20px;
}


/* PRIVACY */

#privacy-band {
    background-image: url(../images/privacy-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#privacy-band h1 {
    font-weight: 300;
}

#privacy-band p {
    font-size: 20px;
}


/* TERMS */

#terms-band {
    background-image: url(../images/terms-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#terms-band h1 {
    font-weight: 300;
}

#terms-band p {
    font-size: 20px;
}

#terms-band .overlay {
    background-color: rgb(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 100%;
    margin: 0%;
    position: absolute;
}

@media screen and (max-width: 1500px) {
    #solutions .card {
        min-height: 585px;
    }
    #information .row {
        width: 80%;
        margin: auto;
    }
}

.sec {
    border-bottom: 1px solid #ced4da;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bn {
    border-bottom: none;
}


/* CAREERS */

#career-band {
    background-image: url(../images/career-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#career-band h1 {
    font-weight: 300;
}

#career-band p {
    font-size: 20px;
}


/* ACCESSIBILITY */

#access-band {
    background-image: url(../images/access-band.jpeg);
    width: 100%;
    min-height: 50%;
    max-height: 250%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#access-band h1 {
    font-weight: 300;
}

#access-band p {
    font-size: 20px;
}

.blogo {
    color: #034791;
}

.rlogo {
    color: #b10101;
}

#search,
#search-btn {
    display: none;
}

@media screen and (max-width: 6000px) {
    #solutions .card {
        min-height: 500px;
    }
}

.card-img-top {
    height: 40% !important;
}

@media screen and (max-width: 991px) {
    .navbar {
        display: none;
    }
    .header {
        display: block;
    }
}

.header-menu i {
    position: absolute;
    top: 35%;
    right: 2%;
}

.overlay-ham {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    right: 5%;
}

.overlay-ham a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-ham a:hover,
.overlay-ham a:focus {
    color: #f1f1f1;
    border: none;
}

.overlay-ham .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .overlay-ham a {
        font-size: 15px
    }
    .overlay-ham .closebtn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}

.lr {
    text-align: right;
    padding-right: 5%;
}