<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>BancBridge | Support</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="support-body">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">&#x25A1;&nbsp;&nbsp;<span class="blogo">Banc</span><span class="rlogo">Bridge</span>&nbsp;&nbsp;&#x25A1;</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="company.html">Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="investor.html">Investor Relations</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="support.html">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="careers.html">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                </ul>
                <div class="d-flex right-form">
                    <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light search" id="search-btn"><i
                            class="fa fa-search"></i></button>
                </div>
                <div class="right-most-form">
                    <i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>
    <div class="header">
        <a class="navbar-brand logo" href="index.html">&#x25A1;&nbsp;&nbsp;<span class="blogo">Banc</span><span class="rlogo">Bridge</span>&nbsp;&nbsp;&#x25A1;</a>
        <div class="header-menu" onclick="openNav()">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div id="myNav" class="overlay-ham">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="company.html">Company</a>
            <a href="products.html">Products</a>
            <a href="investor.html">Investor Relations</a>
            <a href="support.html">Support</a>
            <a href="contact.html">Contact</a>
            <a href="careers.html">Careers</a>
            <a href="index.html">Home</a>
        </div>
    </div>

    <section id="support-band">
        <div class="dark-layer">
            <div class="overlay">

                <h1>BancBridge Customer Support</h1>

            </div>
        </div>
    </section>

    <section id="information">
        <h5>Contact Us</h5>
        <div class="row sec">
            <div class="col-lg-6 col-md-6 lr">
                <p>
                    <b>Support Phone</b>
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p>818-889-7000 extn: 601</p>
                <p>Please be patient as call will hunt through each support line to find first available person.</p>
            </div>
        </div>

        <div class="row sec bn">
            <div class="col-lg-6 col-md-6 lr">
                <p>
                    <b>Support Email</b>
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <a href="mailto:support@bancbridge.com">support@bancbridge.com</a>
            </div>
        </div>







    </section><br><br>


    <div id="footer">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <p><b>Explore</b></p>
                <a href="company.html">Company</a>
                <a href="products.html">Products</a>
                <a href="investor.html">Investor Relations</a>
                <a href="support.html">Support</a>
                <a href="contact.html">Contact</a>
                <a href="careers.html">Careers</a>
                <a href="index.html">Home</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <p><b>Our Services</b></p>
                <a href="treasuryAgent.html">TreasuryAgent</a>
                <a href="customerFlow.html">CustomerFlow</a>
                <a href="fileAdaptor.html">FileAdaptor</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <p><b>Contact Us</b></p>
                <a href="support.html">Support</a>
                <a href="contact.html">Connect</a>
            </div>
        </div><br>

        <div class="border-top"><br>
            <a href="legal.html">Legal Notice</a>
            <a href="privacy.html">Privacy</a>
            <a href="terms.html">Terms of Use</a>
            <a href="accessibility.html">Accessibility</a>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script src="search.js"></script>

</html>