<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../../custom-style/index.css">
    <link rel="stylesheet" href="../../custom-style/blog-content.css">

    <!-- CUSTOM FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- ICONS::FONTAWESOME -->
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Ved Panse</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="../../index.html">Ved Panse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button class="btn resume"><a
                    href="https://docs.google.com/document/d/1EMRoPJlL2s6foPICjBWRBImDrlklFWoK/edit#heading=h.gjdgxs"
                    target="_blank">Download Resume</a></button>
            <a class="nav-item nav-link" id="menu-icon"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</nav>

<div id="header">
    <a href="introductory-blog.html">Hello, World! I am Ved</a>
    <a href="programming-dilemma.html">Programming Dilemma</a>
    <a href="on-cricket.html">On Cricket</a>
    <a href="my-internship.html">My Internship Experience</a>
</div>

<section id="blog-content">
    <h1>Why do I code all of my websites without any tools?</h1>
    <p>If the curious ones among you ever hit inspect element on any of the websites that I built, you would have
        noticed that I do not use any website builder services like Wix or WordPress. Instead, I have written all my
        websites using HTML and CSS and added dynamic components using JavaScript..</p>
    <br>
    <p>Although it cost me a lot of time and effort to get all the components aligned and designed, I believe it was
        worth it. I enjoy long hours of typing frantically on my keyboard and hitting the reload button to see the
        changes reflected on the website. Other than that, I also enjoy the freedom that comes with coding sites:-</p>
    <ul>
        <li>You can tailor the design to your expectations without making any compromises.</li>
        <li>You can change the elements locally without visiting the builder’s website.</li>
        <li>You can also introduce major updates, like pushing a blog to the website, easily with a self-coded
            website.
        </li>
        <li>And above all, you learn many valuable skills in web development. Implementing these skills regularly would
            keep you in touch with the latest updates in the field, potentially providing a breakthrough in your career.
        </li>
    </ul>
    <br>
    <b>While learning web development</b>
    <p>So far, I have enjoyed the freedom to design the various projects I have engaged in and the practice I have put
        myself through. Back in high school, when I was almost addicted to designing webpages, I used to ferret around
        on <a href="https://pinterest.com" target="_blank">Pinterest</a> for design inspiration. In those days, my goal was to upgrade my web development skills to such
        a level that I could replicate any website to the finest detail. I would then push my website designs to
        <a href="https://codepen.io/VedPanse" target="_blank">CodePen</a>.</p>
    <br>
    <b>Conclusion</b>
    <p>Now that I am very close to achieving my goal of fine-tuning my skills, I find self-coding websites more
        appealing than using website builder services. Looking back, had I started my journey by using builder services,
        I would have missed the fun that is bound to coding. I am glad that I made learning HTML, CSS, and JavaScript an
        integral part of my learning and career journey.</p>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="../../js/navbar.js"></script>
</body>

</html>