<!doctype html>
<html lang="en">

<head>
    <!--https://static.tildacdn.com/tild3564-3163-4531-a530-366264326164/beam_3.svg-->
    <!--https://www.jetbrains.com/idea/business/img/beam.svg-->
    <!--https://www.jetbrains.com/store/business/img/store-business-beam.svg-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="Welcome to my official website. I am Ved Panse.">
    <meta name="keywords" content="Ved, Panse, Ved Panse, Official Ved Panse">
    <meta name="author" content="Ved Panse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <title>Ved Panse | Blogs</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Ved Panse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <!-- <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../index.html#intro" target="_blank">Home</a>
                </div> -->
                <button class="btn btn-primary" onclick="themeChange()">Change Theme</button>

            </div>
        </div>
    </nav>

    <div class="row main">
        <div class="col-lg-2 col-md-5 col-sm-5 leftnav">
            <div class="margin-10t">
                <a href="index.html">Home</a>
                <a href="intro.html">Introductory Blog</a>
                <a href="../docs/algorithms/index.html" target="_blank">Algorithms Explained</a>
                <a href="dilemma.html">Programming Dilemma</a>
                <a href="jee-sat.html" class="active">JEE vs SAT</a>
            </div>
        </div>
        <div class="col-lg-10 col-md-7 col-sm-7">
            <div class="margin-10">
                <h1 class="main">JEE vs SAT</h1><br><br>
                <p class="main">I have written this blog to address the dilemma of choosing the correct exam. Hopefully, this blog clears the confusion of many engineering aspirants in India.</p><br><br><br>


                <h3>Introduction</h3>
                <p>
                    Howdy, everyone? Today, I will be talking about two of the most taken exams in the world: JEE and SAT.<br><br>SAT stands for Scholastic Assessment Test. It is a standardized test widely used for college admissions in the United States.
                    On the other hand, JEE stands for Joint Entrance Examination and is the only gateway to India's top Indian Engineering Institutes: the IITs (Indian Institute of Technology).
                </p>
                <br><br><br>

                <h3>What's on the test?</h3>
                <p>
                    SAT contains two sections: English and Mathematics. The English section of the SAT has a reading comprehension section (with 52 questions) and a writing section (containing 44 questions). The Mathematics section further has two sections: no calculator
                    and calculator.<br><br>JEE has two exams: JEE Mains and JEE Advanced. One can qualify for main JEE Advanced only by clearing JEE Mains. Both of them have three sections: Physics, Chemistry, and Mathematics. All
                    the sections in JEE Mains contain 25 questions. On the other hand, the JEE Advanced has no such certainty, meaning they can even have just one question in a section. But it is not going to happen, is it?
                </p><br><br><br>

                <h3>Exam difficulty</h3>
                <p>
                    The SAT and JEE both test different sets of skills. So, an accurate comparison between them is impossible. However, the JEE Mains and Advanced are considered to be the toughest exams in the whole wide world. As the chairman of the JEE put it, "The exam
                    is to reject people, not accept them." The SAT, on the other hand, has no such particular motive. It is designed to assess one's analytical skills and reflect his or her performance in higher grades.
                </p><br><br><br>
                <h3>Study time required</h3>
                <p>
                    On average, an SAT exam taker studies for 3 hours per day for a month. On the other hand, the study hours required to crack the JEE is 17 hours per day on average. It might seem preposterous, but it is a fact.
                </p><br><br><br>

                <p>
                    I hope that this blog helps you get an overview of both the exams, and choose the perfect exam for you. However, these are not the only factors. Researching more about both these exams might change your mind.
                </p>
            </div>
        </div>
    </div>

</body>
<script src="../../server/server.js"></script>

</html>