<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../../custom-style/index.css">
    <link rel="stylesheet" href="../../custom-style/blog-content.css">

    <!-- CUSTOM FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- ICONS::FONTAWESOME -->
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Ved Panse</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="../../index.html">Ved Panse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button class="btn resume"><a
                    href="https://docs.google.com/document/d/1hbEJgndDzSuapTqZouFFAEucyCzjgldgxuM50GMtAL8/edit"
                    target="_blank">Download Resume</a></button>
            <a class="nav-item nav-link" id="menu-icon"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</nav>

<div id="header">
    <a href="introductory-blog.html">Hello, World! I am Ved</a>
    <a href="programming-dilemma.html">Programming Dilemma</a>
    <a href="on-cricket.html">On Cricket</a>
    <a href="my-internship.html">My Internship Experience</a>
    <a href="code-website.html">Coding my websites</a>
</div>

<section id="blog-content">
    <h1>On Cricket - My Favorite Sport</h1>
    <p>In this blog, I share the journey of my profound interest in cricket, a fascination that took root in my early
        years. The allure of the game, played within 22 yards and aiming for a boundary 107 yards away, has always
        captivated me.</p>
    <br>
    <b>Cricket and India</b>
    <p>In India, cricket isn't merely a sport; it's an emotion, a national passion often referred to as "India's
        favorite game" or even likened to a religion. The sight of people playing cricket on the streets reflects the
        profound love that Indians harbor for the game.</p>
    <br>
    <b>Cricket and Me</b>
    <p>My journey with cricket began in my childhood. A chance encounter with kids playing cricket during an evening
        stroll with my grandfather left an indelible mark on me. I insisted on staying, mesmerized by the game. This
        fascination manifested in a unique habit – throwing a ball at visitors, expecting a return throw for a quick
        game of pretend cricket. Even today, relatives playfully inquire if my passion for cricket endures.</p>
    <br>
    <b>School Team</b>
    <p>Unsurprisingly, I earned a spot as the opening batsman in my school's cricket team, recognized for my powerful
        hitting. However, this reputation held true primarily in the realm of tennis ball cricket.</p>
    <br>
    <p>While my interest in cricket blossomed in my formative years, my passion for computers grew in tandem. Despite
        favoring computers, I maintain immense respect for cricket. Although my active involvement has shifted, I stay
        connected with the game.</p>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="../../js/navbar.js"></script>
</body>

</html>