<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../../custom-style/index.css">
    <link rel="stylesheet" href="../../custom-style/blog-content.css">

    <!-- CUSTOM FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- ICONS::FONTAWESOME -->
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Ved Panse</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="../../index.html">Ved Panse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button class="btn resume"><a
                    href="https://docs.google.com/document/d/1EMRoPJlL2s6foPICjBWRBImDrlklFWoK/edit#heading=h.gjdgxs"
                    target="_blank">Download Resume</a></button>
            <a class="nav-item nav-link" id="menu-icon"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</nav>

<div id="header">
    <a href="introductory-blog.html">Hello, World! I am Ved</a>
    <a href="programming-dilemma.html">Programming Dilemma</a>
    <a href="on-cricket.html">On Cricket</a>
    <a href="my-internship.html">My Internship Experience</a>
    <a href="code-website.html">Coding my websites</a>
</div>

<section id="blog-content">
    <h1>Programming Dilemma</h1>
    <p>In this blog, I share my insights on navigating the complexities of programming, offering guidance on where and
        how aspiring programmers should commence and sustain productivity throughout their journey.</p><br>
    <b>Basics First</b>
    <p>Before delving into programming languages, it's crucial to establish a robust understanding of how computers
        operate. This foundational knowledge not only aids in future projects but also fosters a deeper comprehension of
        the interaction between programming languages and the Operating System.</p>
    <br>
    <b>Choosing a Language</b>
    <p>The abundance of programming languages today can make choosing one a daunting task. While each language has its
        merits, the ease of learning varies. Starting with markup languages like HTML, CSS, and JS is recommended.
        Mastery of these sets the stage for progressing to languages like Python, with Kotlin being a favorable option
        for its Cross-Platform feature.</p><br>
    <b>Staying Productive</b>
    <p>After mastering a programming language, solving real-world problems, especially those posed in job interviews, is
        a transformative experience. This approach provides invaluable exposure, boosting self-confidence with each
        problem solved. If frustration sets in, taking a break to refresh the mind is key. Returning with renewed vigor
        often results in overcoming challenges without frustration.</p><br>
    <b>Communities</b>
    <p>Joining communities like StackOverflow and GitHub opens doors to global collaboration. Asking and answering
        questions enhances knowledge, keeping you updated on industry trends. Stay healthy, stay safe, and nurture your
        programming skills daily. Best of luck!</p>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="../../js/navbar.js"></script>
</body>

</html>