:root {
    --accent: blueviolet;
    --accent-bg: rgb(242, 230, 253);
}

.left-nav {
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    padding: 2%;
}

.left-nav a {
    color: rgb(70, 70, 70);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.left-nav a.tag {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(237, 218, 255);
}

.row {
    min-height: 100vh;
}

p.title a {
    margin-right: 5px;
    margin-left: 5px;
    color: black;
}

p.title a.parent {
    color: gray;
}

p.title {
    color: var(--accent);
    text-align: center;
}

h1 {
    font-size: 48px;
}

p,
li {
    font-size: 17px;
}

a.tag {
    background-color: var(--accent-bg);
    color: var(--accent);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.col-lg-9.col-md-8.col-sm-12 {
    padding: 50px;
}

.col-lg-9.col-md-8.col-sm-12 {
    line-height: 2;
}

.quote {
    padding-left: 20px;
    border-left: 2px solid var(--accent);
}

p a {
    color: var(--accent);
}

.sub-nav {
    background-color: rgb(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(20px);
    border-bottom: rgba(0, 0, 0, 0.5);
}

.sub-nav .navbar-brand {
    font-weight: 500;
}

.main-nav a.nav-link {
    color: #cdcdce !important;
    font-size: 12px;
}

.main-nav a.nav-link,
.main-nav a.navbar-brand {
    padding: 0%;
}

.main-nav a.nav-link:hover {
    color: white !important;
    text-decoration: none !important;
}

.navbar-brand:hover {
    text-decoration: none !important;
}

.main-nav a.active {
    color: white !important;
}

a.nav-link {
    font-size: 12px;
    margin-right: 7%;
    padding: 20px;
    letter-spacing: 0.25px;
}

.navbar-nav {
    position: absolute;
    right: 7%;
}

.navbar-brand {
    margin-left: 7%;
}

.navbar {
    padding: 5px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.nav-item.nav-link {
    padding: 5px 11px 6px;
    margin: 0px 4px;
    border-radius: 4px;
}

.sub-nav a.nav-link:hover {
    color: #0070c9 !important;
    text-decoration: none !important;
}