/* CSS FOR ../index.html */

/* DEFAULT */
section {
    margin-top: 0;
    min-height: 100vh;
    padding: 5%;
    position: relative;
}

h1 {
    font-size: 3.7rem;
    font-weight: 400;
}

/* HOME */
section#home h1 {
    padding-left: 5%;
}
div.col-lg-6.introduction {
    font-size: 24px;
    padding-right: 5%;
    padding-left: 5%;
}

div.row.sep {
    margin: 2% 0 2% 0;
}

div.row.desc {
    padding: 5% 15% 5% 0;
}

div.limit-20 {
    width: 23vw;
    float: right;
}

div.strip {
    width: 80%;
    margin: auto;
    text-align: center;
}

div.strip span {
    display: inline;
}

div.strip h2 {
    font-size: 3.4rem;
}


@media only screen and (max-width: 800px) {
    .limit-20 {
        width: 95% !important;
        margin-bottom: 15%;
    }

    section {
        margin-top: 35%;
    }
}